<!--
  Step 1: The form must be sharable between the new and edit views.
-->
<form action="<%= (typeof actionPath === 'undefined') ? '/gym' : actionPath %>" , method="POST">
  <% if (typeof actionPath !== 'undefined') { %>
  <input type="hidden" name="id" value="<%= formData.id %>">
  <% } %>

  <div class="form-group">
    <label for="exercise">Exericse Panel</label>
    <select name="exercise" class="form-control">
      <option>Choose type</option>
      <% for (let exercise of exercises) { %>
      <option <%= (exercise === formData.exercise) && 'selected' %> value="<%= exercise %>"><%= exercise %></option>
      <% } %>
    </select>
  </div>

  <div class="form-group">
    <label for="weights">Weights</label>
    <select name="weights" class="form-control">
      <option>Choose weights</option>
      <% for (let weight of weights) { %>
      <option <%= (weight === formData.weight) && 'selected' %> value="<%= weight %>"><%= weight %></option>
      <% } %>
    </select>
  </div>

  <div class="form-group">
    <label for="reps">Repetitions</label>
    <select name="reps" class="form-control">
      <option>Choose reps</option>
      <% for (let rep of reps) { %>
      <option <%= (rep === formData.rep) && 'selected' %> value="<%= rep %>"><%= rep %></option>
      <% }%>
    </select>
  </div>>
  <div class="form-group">
    <button class="btn btn-dark">Submit</button>
  </div>
</form>