<!--
  Step 1: This is your descretion how you would like to display data,
  but you must list display only one document based on the passed ID.
-->
<%- include ('../partials/header') %>

<div class="container my-5">
  <header>
    <h1>
      <%= gym.Exercise %>
      <a href="/gym/<%= gym.id %>/edit">
        <i class="fa fa-edit"></i>
      </a>
    </h1>
    <br>
    <small>
      <%= (gym.updatedAt.toLocaleString("en-CA")) %>
    </small>
    <p><strong>By: <%= gym.user.fullname %></strong></p>
  </header>
  <hr>
  <div class="content">
    <h4>Exercise : <%= gym.Exercise %></h4>
  </div>

  <div class="content">
    <h4>Weight : <%- gym.Weight %></h4>
  </div>
  <div class="content">
    <h4>Repetitions : <%- gym.Repetitions %></h4>
  </div>
</div>
<%- include ('../partials/footer') %>